.wrapper {
}

.container {
    padding: 80px 0;
    text-align: center;
}

.user__name {
    letter-spacing: 2px;
    margin: 0;
}

.total__pay {


}

.card__pay {
    padding: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #afadad;
    width: 25%;
    margin: auto;
}

.card__info {
}

.card__number {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #999;
}

.card__date {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #999;
}

.btn__pay {
    width: 100%;
    border: none;
    padding: 8px 0 ;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn__pay:hover {
    opacity: 0.8;
}
